body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
    flex: 1;
  }
  
   /* Left-align "All Listings" / */
  .listings-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222222;
    text-align: left;
    margin-left: 10px;
  }
  
  /* / Container / */
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .navbar {
    height: 5rem;
    background-color: white;
  }
  
  .fa-compass {
    color: #fe424d;
    font-size: 2rem;
  }
  
  .nav-link {
    color: #222222 !important;
  }
  
  .f-info-links a {
    text-decoration: none;
    color: #222222;
  }
  
  .f-info-links a:hover {
    text-decoration: underline;
  }
  
  .f-info-links,
  .f-info-socials,
  .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* / Listing Card Styles / */
  .index-card {
    width: 18rem !important;
    height: auto;
    margin: 10px;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
  }
  
  .index-card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .card-body {
    padding: 15px;
  }
  
  /* / Listing title - darker text / */
  .listing-title {
    font-weight: 700;
    color: #111;
  }
  
  /* / Pricing / */
  .price {
    /* / font-weight: bold; / */
    color: #222222;
  }
  
  /* / Fixing last row image alignment / */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* / Card-img-overlay  / */
  .card-img-overlay {
    opacity: 0;
  }
  
  .card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
  }
  
  /* / New Page / */
  
  .add-btn {
    background-color: #fe424d !important;
    border: none !important;
  }
  
  
  /* / Edit Page  */
  .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    /* padding: 5px 10px !important; */
  }